<auth-title title="Identity verification" *ngIf="!changePasswordSuccess"></auth-title>

<form
  *ngIf="identityVerification && !changePasswordSuccess"
  class="flex flex-col gap-6 my-6"
  (ngSubmit)="onSubmitChangePassword()"
  [formGroup]="resetPasswordForm"
>
  <shared-form-field
    fieldName="password"
    label="Password"
    [type]="iconOneVisibilityNewPassword ? 'text' : 'password'"
    placeholder="At least 8 characters"
    [formGroup]="resetPasswordForm"
    [iconName]="iconOneVisibilityNewPassword ? 'octEye' : 'octEyeClosed'"
    [iconVisibility]="iconOneVisibilityNewPassword"
    (iconVisibilityChange)="onIconVisibilityChangeNewPassword($event)"
  ></shared-form-field>

  <shared-form-field
    fieldName="repeatPassword"
    label="Confirm password"
    [type]="iconOneVisibilityRepeatPassword ? 'text' : 'password'"
    placeholder="Confirm Password"
    [formGroup]="resetPasswordForm"
    [iconName]="iconOneVisibilityRepeatPassword ? 'octEye' : 'octEyeClosed'"
    [iconVisibility]="iconOneVisibilityRepeatPassword"
    (iconVisibilityChange)="onIconVisibilityChangeRepeatPassword($event)"
  ></shared-form-field>
  <shared-button text="Save" [isLoading]="isLoading"></shared-button>
</form> 

<form
  class="flex flex-col gap-6 my-6"
  [formGroup]="identityVerificationForm"
  (ngSubmit)="onSubmitIdentityVerification()"
  *ngIf="!identityVerification && !changePasswordSuccess"
>
  <div class="flex flex justify-between border-b py-2">
    <label class="text-sm" for="code">Your verification code</label>
    <span
      *ngIf="isInvalidFieldIdentityVerification('code')"
      class="text-sm text-red-500"
    >
      {{ errorsFieldIdentityVerification('code') }}
    </span>
  </div>
  <div class="flex justify-center">
    <p-inputOtp [length]="5" formControlName="code"></p-inputOtp>
  </div>

  <shared-button text="Verify" [isLoading]="isLoading"></shared-button>
</form>

<auth-operation-success
    *ngIf="changePasswordSuccess"
    description="Password changed successfully, you can now sign in."
    linkText="Go to sign-in"
    link="auth/sign-in"
></auth-operation-success>
