<auth-title title="Change Password"></auth-title>
<form
  class="flex flex-col gap-6 my-6"
  (ngSubmit)="onSubmit()"
  [formGroup]="resetPasswordForm"
>
  <shared-form-field
    fieldName="password"
    label="Password"
    type="password"
    placeholder="At least 8 characters"
    [formGroup]="resetPasswordForm"
  ></shared-form-field>

  <shared-form-field
    fieldName="repeatPassword"
    label="Confirm password"
    type="password"
    placeholder="Confirm Password"
    [formGroup]="resetPasswordForm"
  ></shared-form-field>
  <shared-button text="Save"></shared-button>
</form>
