<auth-title title="Sign In"></auth-title>
<form
  class="flex flex-col gap-6 my-6"
  (ngSubmit)="onSubmit()"
  [formGroup]="loginForm"
>
    <shared-form-field
      fieldName="email"
      label="Email address"
      type="text"
      placeholder="e.g. alex@email.com"
      [formGroup]="loginForm"
    ></shared-form-field>

  <shared-form-field
    fieldName="password"
    label="Password"
    [type]="iconOneVisibility ? 'text' : 'password'"
    placeholder="Enter your password"
    [formGroup]="loginForm"
    [iconName]="iconOneVisibility ? 'octEye' : 'octEyeClosed'"
    [iconVisibility]="iconOneVisibility"
    (iconVisibilityChange)="onIconVisibilityChange($event)"
  ></shared-form-field>

  <div class="justify-start">
    <auth-navigatation
      text="Forgot password? "
      url="/auth/recupere-account"
      destination=" Recupere account"
      textAlign="text-end"
    ></auth-navigatation>
  </div>
  <shared-button [text]="'Access'" [isLoading]="isLoading"></shared-button>
</form>

<auth-navigatation
  [text]="'Don’t have an account? '"
  [url]="'/auth/sign-up'"
  [destination]="'Sign up'"
></auth-navigatation>
